homeassistant:
  name: Kebab Home
  latitude: 59.308447
  longitude: 18.082513
  elevation: 38
  unit_system: metric
  time_zone: Europe/Stockholm

  customize: !include customize.yaml
  customize_glob: !include customize_glob.yaml

tts:
  - platform: google
    cache: true
    cache_dir: ./tts
    time_memory: 300

#logger:
  #default: debug
  #logs:
    #homeassistant.components.device_tracker.nmap_tracker: debug

# Enables the frontend
frontend:
  themes: !include_dir_merge_named themes

# Enables configuration UI
config:

http:
  api_password: !secret api
  base_url: !secret url
  ip_ban_enabled: false

# Enables support for tracking state changes over time.
history:

# View all events in a logbook
logbook:

recorder:
  purge_days: 14
# db_url: !secret databaseurl

ifttt:
  key: !secret iftt

#digital_ocean:
#  access_token: !secret digital_ocean

tradfri:
  host: !secret tradfriIP

# Disabled until vpn works
influxdb:
  host: !secret influxIP
  username: !secret influxuser
  password: !secret influxpass

nest:
  client_id: !secret nestclientid
  client_secret: !secret nestsecret
  sensors:
    monitored_conditions:
      - co_status
      - smoke_status
      - battery_health

customizer:
  custom_ui: hosted

hue:
  bridges:
    - host: !secret hueIP
      allow_hue_groups: false

#cloud:
# google_actions:
#   filter:
#     include_entities:
#       - light.bedside
#       - light.bedroom_ceiling
#       - light.marcus_light
#       - light.lillys_light
#       - light.closet_light
#       - light.hallway_light
#       - light.sofa_light
#       - media_player.living_room_tv

google_assistant:
  project_id: hass-assistant-365f5
  api_key: !secret homegraphApi
  expose_by_default: false
  entity_config:
    light.bedside:
      expose: true
    light.marcus_light:
      expose: true
    light.lillys_light:
      expose: true
    light.closet_light:
      expose: true
    light.hallway_light:
      expose: true
    light.sofa_light:
      expose: true
    light.bedroom_ceiling:
      expose: true
    switch.window_light:
      expose: true

neato:
  username: !secret neatouser
  password: !secret neatopass

mqtt:
  username: !secret mqttuser
  password: !secret mqttpass
  broker: mqtt

group: !include_dir_merge_named groups

sensor: !include devices/sensor.yaml

media_player: !include devices/media.yaml

device_tracker: !include devices/network.yaml

automation: !include automations.yaml

cast: !include devices/cast.yaml

# Disabled for now
#binary_sensor: !include_dir_list binary_sensors

