homeassistant:
  # Name of the location where Home Assistant is running
  name: Kebab Home
  # Location required to calculate the time the sun rises and sets
  latitude: 59.308447
  longitude: 18.082513
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: 38
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: Europe/Stockholm

  customize: !include customize.yaml
  customize_glob: !include customize_glob.yaml

tts:
  - platform: google
    cache: true
    cache_dir: ./tts
    time_memory: 300

#logger:
  #default: debug
  #logs:
    #homeassistant.components.device_tracker.nmap_tracker: debug

# Enables the frontend
frontend:
  themes: !include_dir_merge_named themes

# Enables configuration UI
config:

http:
  api_password: !secret api
  base_url: !secret url
  ip_ban_enabled: false

# Enables support for tracking state changes over time.
history:

# View all events in a logbook
#logbook:

#recorder:
# purge_days: 14
# db_url: !secret databaseurl

ifttt:
  key: !secret iftt

digital_ocean:
  access_token: !secret digital_ocean

zwave:
  #config_path: /home/homeassistant/.homeassistant/config/
  usb_path: /dev/ttyAMA0
  polling_interval: 30000

tradfri:
  host: 192.168.1.181
  api_key: !secret ikea

emulated_hue:
  host_ip: 192.168.1.151
  advertise_ip: 192.168.1.151
  listen_port: 80
  advertise_port: 80
  expose_by_default: true
  exposed_domains:
    - light

influxdb:
  host: 127.0.0.1
  username: !secret influxuser
  password: !secret influxpass

nest:
  client_id: !secret nestclientid
  client_secret: !secret nestsecret
  sensors:
    monitored_conditions:
      - co_status
      - smoke_status
      - battery_health

customizer:
  custom_ui: local

duckdns:
  domain: mackattack3k
  access_token: b159f175-881a-45dc-8646-d229a77c2b05

group: !include_dir_merge_named groups

sensor: !include devices/sensor.yaml

light: !include devices/lights.yaml

media_player: !include devices/media.yaml

device_tracker: !include devices/network.yaml

automation: !include automations.yaml

binary_sensor: !include_dir_list binary_sensors
